*                                          @danielcirstoiu
/.github/                                  @danielcirstoiu
/projects/TEST_GIT/project.json            @danielcirstoiu
/projects/TEST_GIT/Main.xaml               @danielcirstoiu
/projects/TEST_GIT/WorkflowA.xaml          @danielcirstoiu
/projects/TEST_GIT/WorkflowB.xaml          @DCI-WORK
